<div class="container"><br>

    
  <nav id="butt" class="nav justify-content-center u">
    <a routerLink="/home" routeLinkActive="active" routerLinkActiveOption="{exact: true}" style="margin-right:70px">Home</a>
    <a routerLink="/student"  style="margin-right:70px">Register</a>
    <a routerLink="/subject"  style="margin-right:70px">Subject</a>
    <a routerLink="/history" style="margin-right:70px">History</a>
    
  </nav>
    <hr>
    <router-outlet></router-outlet> 
    <!--Router view goes here--> 

    
</div>