<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark headline" >
        <img src="../../assets/k.jpg" alt="logo" height="30px">
        <h1 class="pro"></h1>
        <a class="s" routerLink="/">Sign Out</a>
      
    </nav> -->
    
    <div class="container">
    
        <br>
        <nav id="butt" class="nav justify-content-center u">
            <a routerLink="/stuhome" routeLinkActive="active" routerLinkActiveOption="{exact: true}" style="margin-right:70px">Home</a>
            <a routerLink="/stusubject"  style="margin-right:70px">Subject</a>
            <a routerLink="/stuexam"  style="margin-right:70px">Exam</a>
            <a routerLink="/sturepeat"  style="margin-right:70px">Repeat</a>
          </nav>
          <hr>
    
    
    <div class="">
        <h3 class="page-header" style="color: #090b6e; font: bold">Repeat Request Form</h3>
        <form [formGroup] = "form" (submit) = "addsturepeat(); myForm.reset()" #myForm="ngForm">
          <div class="form-group col-md-6 field">
            <label>Registration Number</label>
            <input type="text" [(ngModel)]="sturepreg" name="sturepreg" formControlName="sturepreg" class="form-control">
         </div>
          <div class="form-group col-md-6 field">
            <label>Index Number</label>
            <input type="text" [(ngModel)]="sturepindex" name="sturepindex" formControlName="sturepindex" class="form-control">
          </div>
          <div class="form-group col-md-6 field">
            <label>Subject Code</label>
            <input type="text" [(ngModel)]="sturepsub_code" name="sturepsub_code" formControlName="sturepsub_code" class="form-control">
          </div>
          <div class="form-group col-md-6 field">
            <label>Subject Name</label>
            <input type="text" [(ngModel)]="sturepsub_name" name="sturepsub_name" formControlName="sturepsub_name" class="form-control">
          </div>
          <div class="form-group col-md-6 field">
            <label>Year</label>
            <select type="text" style="height: 34px;" class="form-control" [(ngModel)]="sturepsub_year" formControlName="sturepsub_year" name="sturepsub_year">
                <option>Year 1</option>
                <option>Year 2</option>
                <option>Year 3</option>
                <option>Year 4</option>
              </select>
          </div>
          <div class="form-group col-md-6 field">
              <label>Semester</label>
              <select type="text" style="height: 34px;" class="form-control" [(ngModel)]="sturepsub_sem" formControlName="sturepsub_sem" name="sturepsub_sem">
                <option>Semester 1</option>
                <option>Semester 2</option>
              </select>
            </div> 
              <div class="col-md-4">
                  <input type="submit" [disabled]="!form.valid" class="btn btn-success col-md-6" value="ADD">
              </div>
        </form>
      </div>
      
      <div class="">
          <div class="col-md-12 ttt" id="content" #content>
              <h3 style="font: bold; color: #090b6e">Repeat Requested Subject List</h3>
              <hr>
              <div *ngIf="sturepeats" style="margin-top: 10px">
                <div class="row filterBy">
                    <h5 class="col-xs-1"></h5>
                    <button class="btn btn-primary col-md-1" [class.active]="filterBy==='y1s1'" (click)="filterBy('y1s1')">Y1 S1</button>
                    <button class="btn btn-primary col-md-1" [class.active]="filterBy==='y1s2'" (click)="filterBy('y1s2')">Y1 S2</button>
                    <h5 class="col-md-1"></h5>
                    <button class="btn btn-primary col-md-1" [class.active]="filterBy==='y2s1'" (click)="filterBy('y2s1')">Y2 S1</button>
                    <button class="btn btn-primary col-md-1" [class.active]="filterBy==='y2s2'" (click)="filterBy('y2s2')">Y2 S2</button>
                    <h5 class="col-md-1"></h5>
                    <button class="btn btn-primary col-md-1" [class.active]="filterBy==='y3s1'" (click)="filterBy('y3s1')">Y3 S1</button>
                    <button class="btn btn-primary col-md-1" [class.active]="filterBy==='y3s2'" (click)="filterBy('y3s2')">Y3 S2</button>
                    <h5 class="col-md-1"></h5>
                    <button class="btn btn-primary col-md-1" [class.active]="filterBy==='y4s1'" (click)="filterBy('y4s1')">Y4 S1</button>
                    <button class="btn btn-primary col-md-1" [class.active]="filterBy==='y4s2'" (click)="filterBy('y4s2')">Y4 S2</button>
                </div>
              </div>

              <hr>
            
            <table style="width: 100%; border: 1px solid rgb(63, 65, 88)">
              <thead>
                <tr style="border: 1px solid rgb(63, 65, 88)">
                  <th>Registration Number</th>
                  <th>Index Number</th>
                  <th>Subject Code</th>
                  <th>Subject Name</th>
                  <th>Year</th>
                  <th>Semester</th>
                </tr>
              </thead>
              <tr style="border: 1px solid rgb(63, 65, 88)" *ngFor = "let sturepeat of sturepeats">
                  
                <td>{{sturepeat.sturepreg}}</td>
                <td>{{sturepeat.sturepindex}}</td>
                <td>{{sturepeat.sturepsub_code}}</td>
                <td>{{sturepeat.sturepsub_name}}</td>
                <td>{{sturepeat.sturepsub_year}}</td>
                <td>{{sturepeat.sturepsub_sem}}</td>
                <td><input type="button" (click) = "deletesturepeat(sturepeat._id)" value="Delete" class="btn btn-danger"></td>

              </tr>
            </table>
            <br><br>
            
          </div>
      
      </div>

      <div class="">
          <div class="col-md-12 ttt" id="content" #content>
              <h3 style="font: bold; color: #090b6e">Repeat Request Accepted Subject List</h3>
              <hr>
              <table class="col-md-2" style="width: 100%; border: 1px solid rgb(63, 65, 88)">
                  <thead>
                    <tr style="border: 1px solid rgb(63, 65, 88)">
                      <h3 style="text-align: center">Subject Code</h3>
                    </tr>
                  </thead>
                  <tr style="border: 1px solid rgb(63, 65, 88)" *ngFor = "let repeataccept of repeataccepts">

                    <!-- <td>{{sturepeat.sturepsub_code}}</td> -->
                    <ul style="list-style-type:none">
                        <li>{{repeataccept.scode}}</li>
                      </ul>
    
                  </tr>
                 
                </table>
              <br>
          </div>
      </div>
      </div>
    
    