<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark headline" >
    <img src="../../assets/k.jpg" alt="logo" height="30px">
    <h1 class="pro"></h1>
    <a class="s" routerLink="/">Sign Out</a>
</nav> -->

<div class="container">

    <br>
    <nav id="butt" class="nav justify-content-center u">
        <a routerLink="/home" routeLinkActive="active" routerLinkActiveOption="{exact: true}" style="margin-right:70px">Home</a>
        <a routerLink="/student"  style="margin-right:70px">Register</a>
        <a routerLink="/subject"  style="margin-right:70px">Exam</a>
        <a routerLink="/repeat" style="margin-right:70px">Repeat</a>
    </nav>
    <hr>
<div class="">
    <h3 class="page-header" style="color: #090b6e; font: bold">Add New Exam Details</h3>
    <form [formGroup] = "form" (submit) = "addSubject(); myForm.reset()" #myForm="ngForm">
      <div class="form-group col-md-6 field">
        <label>Subject Code</label>
        <input type="text" [(ngModel)]="sub_code" name="sub_code" formControlName="sub_code" class="form-control">
      </div>
      <div class="form-group col-md-6 field">
        <label>Subject Name</label>
        <input type="text" [(ngModel)]="sub_name" name="sub_name" formControlName="sub_name" class="form-control">
      </div>
      <div class="form-group col-md-6 field">
        <label>Year</label>
        <select type="text" class="form-control" style="height: 34px;" [(ngModel)]="sub_year" formControlName="sub_year" name="sub_year">
            <option>Year 1</option>
            <option>Year 2</option>
            <option>Year 3</option>
            <option>Year 4</option>
          </select>
      </div>
      <div class="form-group col-md-6 field">
          <label>Semester</label>
          <select type="text" class="form-control" style="height: 34px;" [(ngModel)]="sub_sem" formControlName="sub_sem" name="sub_sem">
            <option>Semester 1</option>
            <option>Semester 2</option>
          </select>
        </div>
        <div class="form-group col-md-6 field">
            <label>Subject Type</label>
            <select type="text" class="form-control" style="height: 34px;" [(ngModel)]="sub_type" formControlName="sub_type" name="sub_type">
              <option>Under Graduate</option>
              <option>Post Graduate</option>
            </select>
          </div>
      
        <div class="form-group col-md-6 field">
            <label>Exam Date</label>
            <input type="date" [(ngModel)]="sub_examDate" name="sub_examDate" formControlName="sub_examDate" class="form-control">
          </div>
          <div class="form-group col-md-6 field">
              <label>Venue</label>
              <input type="text" [(ngModel)]="sub_venue" name="sub_venue" formControlName="sub_venue" class="form-control">
          </div>

          <div class="form-group col-md-6 field">
              <label>Start Time</label>
              <input type="time" [(ngModel)]="sub_time" name="sub_time" formControlName="sub_time" class="form-control">
            </div>
            <div class="form-group col-md-6 field">
                <label>End Time</label>
                <input type="time" [(ngModel)]="sub_etime" name="sub_etime" formControlName="sub_etime" class="form-control">
              </div>
              <div class="form-group col-md-6 field">
                  <label>Other Details</label>
                  <input type="text" [(ngModel)]="sub_other" name="sub_other" formControlName="sub_other" class="form-control">
                </div>
          <div class="col-md-4">
              <input type="submit" [disabled]="!form.valid" class="btn btn-success col-md-6" value="ADD">
          </div>
      
    </form>
 
  </div>
  
  <div id="pdf2htmldiv">
    
      <div class="col-md-12 ttt" id="content" #content>

          <div *ngIf="subjects" style="margin-top: 10px">
            <div class="row filterBy">
                <div class="col-md-12">
                    <h5 class="col-md-2"></h5>
                    <button class="btn btn-primary col-md-3" [class.active]="filterBy==='ug'" (click)="filterBy('ug')">Under Graduate Students</button>
                    <h5 class="col-md-3"></h5>
                    <button class="btn btn-primary col-md-3" [class.active]="filterBy==='pg'" (click)="filterBy('pg')">Post Graduate Students</button>
                    <br>
                    <br>
                </div>
              <h5 class="col-xs-1"></h5>
              <button class="btn btn-primary col-md-1" [class.active]="filterBy==='y1s1'" (click)="filterBy('y1s1')">Y1 S1</button>
              <button class="btn btn-primary col-md-1" [class.active]="filterBy==='y1s2'" (click)="filterBy('y1s2')">Y1 S2</button>
              <h5 class="col-md-1"></h5>
              <button class="btn btn-primary col-md-1" [class.active]="filterBy==='y2s1'" (click)="filterBy('y2s1')">Y2 S1</button>
              <button class="btn btn-primary col-md-1" [class.active]="filterBy==='y2s2'" (click)="filterBy('y2s2')">Y2 S2</button>
              <h5 class="col-md-1"></h5>
              <button class="btn btn-primary col-md-1" [class.active]="filterBy==='y3s1'" (click)="filterBy('y3s1')">Y3 S1</button>
              <button class="btn btn-primary col-md-1" [class.active]="filterBy==='y3s2'" (click)="filterBy('y3s2')">Y3 S2</button>
              <h5 class="col-md-1"></h5>
              <button class="btn btn-primary col-md-1" [class.active]="filterBy==='y4s1'" (click)="filterBy('y4s1')">Y4 S1</button>
              <button class="btn btn-primary col-md-1" [class.active]="filterBy==='y4s2'" (click)="filterBy('y4s2')">Y4 S2</button>
            </div>
          </div>
        
          <h3 style="font: bold; color: #090b6e">Exam Time Table</h3>
          <hr>

        
        <table id="studenttable" style="width: 100%; border: 1px solid rgb(63, 65, 88)">
          <thead>
            <tr style="border: 1px solid rgb(63, 65, 88)">
              <th>Subject Code</th>
              <th>Subject Name</th>
              <th>Year</th>
              <th>Semester</th>
              <th>Subject Type</th>
              <th>Date</th>
              <th>Venue</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Other Details</th>
            </tr>
          </thead>
          <tr style="border: 1px solid rgb(63, 65, 88)" *ngFor = "let subject of subjects">
              
            <td>{{subject.sub_code}}</td>
            <td>{{subject.sub_name}}</td>
            <td>{{subject.sub_year}}</td>
            <td>{{subject.sub_sem}}</td>
            <td>{{subject.sub_type}}</td>
            <td>{{subject.sub_examDate}}</td>
            <td>{{subject.sub_time}}</td>
            <td>{{subject.sub_etime}}</td>
            <td>{{subject.sub_venue}}</td>
            <td>{{subject.sub_other}}</td>
            <td><input type="button" (click) = "deleteSubject(subject._id)" value="Delete" class="btn btn-danger"></td>
            
          </tr>
        </table>

        <br><br>
        <button class="btn btn-warning" (click)="downloadPDF()">Export to PDF</button>
  
      </div>
  
  </div>
 
  </div>
