.field{
    width: 50%;
    height: 20%;
}
th{
    font-size: 125%;
    text-align: center;
    border: 1px solid rgb(38, 42, 83);
}
td{
    font-size: 125%;
    text-align: center;
    border: 1px solid rgb(63, 65, 88);
}
.ttt{
    float:left;
width:10000px;
overflow-y: auto;
height: 420px;
}
.container{

    background-color: rgba(240, 217, 207, 0.79);
    height:878px;
    
    
}
#butt{
    font-family: 'Raleway', sans-serif;

}

.u {
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    font-weight: 400px;
    font: bold;
    text-transform: uppercase;

}
.headline {
    font-size: 14px;
    font-weight: 900;

}
.s{
    font-size: 14px;
    color: white;
    width: 5%
}
.pro{
    width: 95%
}